<div class="form-container">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="enviar()"
    enctype="multipart/form-data"
  >
    <h2>Sign in Image HUB</h2>

    <fieldset
      [class]='(form.get("dni")?.errors?.["dni"] && form.value.dni !=="") ? "red":"none"'
    >
      <legend>DNI</legend>
      <input type="text" formControlName="dni" name="dni" />
    </fieldset>

    <fieldset
      [class]='(form.get("email")?.errors?.["email"] && form.value.email !=="") ? "red":"none"'
    >
      <legend>Email</legend>
      <input
        type="email"
        formControlName="email"
        name="email"
        autocomplete="email"
      />
    </fieldset>

    <fieldset
      [class]='(form.get("username")?.errors?.["username"] && form.value.username !=="") ? "red":"none"'
    >
      <legend>Username</legend>
      <input type="test" formControlName="username" name="username" />
    </fieldset>

    <fieldset
      [class]='(form.get("pwd")?.errors?.["minlength"] && form.value.pwd !=="") ? "red":"none"'
    >
      <legend>Password</legend>
      <input
        type="password"
        formControlName="pwd"
        name="pwd"
        autocomplete="new-password"
      />
    </fieldset>

    <fieldset
      [class]='(form.get("ConfirmPwd")?.errors?.["minlength"] && form.value.ConfirmPwd !=="") ? "red":"none"'
    >
      <legend>Confirm password</legend>
      <input
        type="password"
        formControlName="ConfirmPwd"
        autocomplete="new-password"
      />
    </fieldset>
    @if(form.value.ConfirmPwd !== form.value.pwd && form.value.pwd!== ""&&
    form.value.ConfirmPwd!== ""){
    <label class="red">The passwords do not match</label>
    }
    <div class="button-container">
      <button
        class="form-button"
        [disabled]="form.value.ConfirmPwd !== form.value.pwd || form.invalid"
      >
        Send
      </button>
      <input type="reset" value="Reset" class="form-button" />
    </div>
    <a routerLink="/login">Do you already have an account ? Log in here</a>
  </form>
</div>
