<footer>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="fa-solid fa-house"></i
      ></a>
    </li>
    <li>
      <a routerLink="/search" routerLinkActive="active"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></a>
    </li>
    <li>
      <a routerLink="/upload" routerLinkActive="active"
        ><i class="fa-solid fa-arrow-up-from-bracket"></i
      ></a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active"
        ><i class="fa-solid fa-user"></i
      ></a>
    </li>
  </ul>
</footer>
<nav class="nav">
  <div>
    <img src="ImageHub.gif" alt="" width="100" />
    <h1>Image HUB</h1>
  </div>
  <ul class="bar">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="/search" routerLinkActive="active">Search</a>
    </li>
    <li>
      <a routerLink="/upload" routerLinkActive="active">Upload</a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active">User</a>
    </li>
  </ul>
</nav>
