/* Estilos de la galería */
.gallery img {
  width: 100%;
  object-fit: cover;
  max-height: 600px;

}

.gallery {
  margin: 1rem auto 3rem;
  max-width: 1200px;
  padding: 1rem;
  columns: 320px;
  height: 100%;
  border-radius: 4px;
}

.gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.gallery-item:hover .hover {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

/* Estilos del hover de la galería */
.hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.delete {
  top: 5%;
  left: 5%;
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  color: #B9B8B5;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.down {
  top: 5%;
  right: 5%;
  position: absolute;
  background-color: #333;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #B9B8B5;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.down:hover,
.delete:hover {
  background-color: #D4AF37;
  color: #333;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


.hover>div {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
}


.hover label,
.modal .likes label,
.modal .input-container label {
  background-color: #333;
  padding: 0.6rem;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  transition: transform 0.3s ease;
}

.hover label i,
.modal .likes label i,
.modal .input-container label {
  color: #B9B8B5;
}

.hover label:hover,
.modal .likes label:hover,
.modal .input-container label:hover,
.comment:hover {
  transform: translateY(-2px);
}

.hover label i:hover,
.modal .likes label i:hover,
.modal .input-container label:hover {
  color: #D4AF37;
  cursor: pointer;
}

.input-container {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.input-container input {
  background: transparent;
  border: none;
  outline: none;
  color: #B9B8B5;
  font-size: 0.9rem;
  width: 100%;
}

.input-container input::placeholder {
  color: #888;
  font-style: italic;
}

.input-container label {
  background-color: #B9B8B5;
  color: #333;
}

.input-container label:hover {
  color: #a18529;
  cursor: pointer;
}

.input-container label i {
  color: inherit;
}

.input-container::placeholder {
  font-style: italic;
}

.like:checked+label i {
  color: #D4AF37;
}

.like:checked+label i:hover {
  color: #B9B8B5;
}

.modal .like:checked+label i {
  color: #D4AF37;
}

.modal .like:checked+label i:hover {
  color: #B9B8B5;
}

/* Estilos modal */

dialog form {
  width: 100%;
}

.hover-img-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.hover-img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
  display: none;

}

.hover-img i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #B9B8B5;
}


.hover-img-container img {
  object-fit: cover;
  width: 99px;
  height: 99px;
  border-radius: 50%;

}

.hover-img-container:hover .hover-img {
  display: block;
  background-color: #000c;
  cursor: pointer;
}

.radio-container {
  display: flex;
  justify-content: space-around;
}

.radio-container label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #b9b8b5;
  cursor: pointer;
}

.form label {
  margin: 0;
}

.radio-container input[type="radio"] {
  accent-color: #d4af37;
  transform: scale(1.2);
}


.modal {
  top: 0;
  left: 0;
  position: absolute;
  margin: auto;
  width: fit-content;
  max-width: 90vw;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: inline-flex;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: #fff;
  padding: 0;
  opacity: 0;
  /* Inicialmente invisible */
  transform: scale(0.9);
  /* Inicialmente más pequeño */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Transición suave */
}

.modal:not([open]) {
  height: 0;
}

.modal[open] {
  height: 80vh;
  opacity: 1;
  /* Visible cuando está abierto */
  transform: scale(1);
  /* Tamaño normal */
}

.modal>img {
  max-width: 70%;
  height: 100%;
  object-fit: cover;

}

.modal>div {
  padding: 20px 20px;
  margin: 10px auto;
}

.modal h3 {
  text-align: center;
}

.modal div>p {
  margin: 10px 0;
}

.modal .button-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.dropdown-menu {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 0 0 20px;

}

.dropdown-toggle {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #333;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #B9B8B5;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.dropdown-toggle:hover {
  background-color: #D4AF37;
  color: #333;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

dialog .dropdown-content {
  width: 90%;
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: white;
  min-width: 220px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 100;
}

.dropdown-menu.open .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}


.comment-container {
  overflow-y: auto;
  max-height: 58%;
  margin-top: 40px;

}

/* Estilos personalizados para el scroll */
.comment-container::-webkit-scrollbar {
  width: 8px;
}

.comment-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.comment-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.comment-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.comment {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.comment-author img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.comment-content {
  max-width: 80%;
  font-size: 14px;
  line-height: 1.5;
}

.comment-content .author-name {
  font-weight: bold;
  margin-right: 5px;
}

.flex .comment {
  color: #D4AF37;
  border: none;
  padding: 5px;
  margin: 0;
}

.likes {
  display: flex;
  gap: 5px;
  font-size: 14px;
  color: #333;
}

.likes p {
  font-size: 18px;
  color: #D4AF37;
}

@media screen and (max-width: 1000px) {
  .modal {
    margin: 12px auto;
    flex-direction: column;
    height: auto;
    max-width: 90%;
    max-height: 80%;
    height: fit-content !important;
  }

  .modal>img {
    max-width: 100%;
    height: auto;
  }

  .modal>div {
    min-width: 100%;
    padding: 10px;
  }

  .modal .button-container {}

  .dropdown-menu {}

  .comment-container {}


}


.wrapper {
  position: relative;
  height: 8rem;
  width: 3rem;
}

.wrapper::before,
.wrapper::after {
  display: block;
  position: absolute;
  z-index: 99;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.75rem 0;
  pointer-events: none;
}

.wrapper::before {
  content: "+";
}

.wrapper::after {
  content: "−";
  bottom: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #B9B8B5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 8rem;
  height: 3.5rem;
  transform: translate(-50%, -50%) rotate(-90deg);
  border-radius: 1rem;
  overflow: hidden;
  cursor: row-resize;
}

input[type="range"][step] {
  background-color: #B9B8B5;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);
}

input[type="range"]::-moz-range-thumb {
  border: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart-animation {
  position: absolute;
  top: 0px;
  left: 45px;
  font-size: 3rem;
  color: #D4AF37;
  animation: pop 0.5s ease forwards;
  pointer-events: none;
}

.heart-animation.like {
  color: #D4AF37;
  /* Color para dar like */
}

.heart-animation.unlike {
  color: #B9B8B5;
  /* Color para quitar like */
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}