<div class="gallery">
  @for (publi of publicaciones; track $index) {
  <div class="gallery-item">
    <img [src]="publi.foto" alt="" />
    <div class="hover" (mouseleave)="clear()">
      @if (session) {
      <button class="delete" (click)="delete(publi.id, publi.foto)">
        <i class="fa-solid fa-trash"></i>
      </button>
      }
      <button class="down" (click)="savePublication(publi)">
        <i class="fa-solid fa-down-long fa-xs"></i>Download
      </button>
      <div>
        <div class="heart">
          <input
            type="checkbox"
            class="like"
            [id]="'heart' + publi.id"
            hidden
            (change)="
              like(publi.id, publi.persona_dni, $event);
              triggerAnimation($event, publi.id)
            "
            [checked]="publi.hasLiked == 1"
          />
          <label [for]="'heart' + publi.id">
            <i class="fa-solid fa-heart fa-xl"></i>
          </label>
          <div [id]="'heart-animation-' + publi.id" class="heart-animation">
            <i class="fa-solid fa-heart"></i>
          </div>
        </div>
        <div class="input-container">
          <input
            type="text"
            placeholder="Write a comment"
            [(ngModel)]="comentario"
          />
          <label (click)="comment(publi.id, publi.persona_dni)">
            <i class="fa-solid fa-paper-plane"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<dialog class="modal" #download (click)="closeOnOutsideClick($event)">
  @if (publication) {
  <img [src]="publication.foto" [alt]="publication.title" />
  <div>
    <div class="flex">
      <h3>{{ publication.title }}</h3>
      <div class="comment" (click)="link(publication)">
        <div class="comment-author">
          <img [src]="publication.foto_perfil" alt="Autor" />
        </div>
        <p class="comment-content">
          <span class="author-name">{{ publication.username }}</span>
        </p>
      </div>
    </div>

    <p>
      {{ publication.descp }}
    </p>

    <div class="dropdown-menu" [class.open]="dropdownOpen" #dropdownMenu>
      <button class="dropdown-toggle" (click)="toggleDropdown()">
        <i class="fa-solid fa-down-long fa-xs"></i>Download
      </button>
      <div class="dropdown-content">
        <div class="flex">
          <p>Format:</p>
          <p>Quality</p>
        </div>
        <div class="flex">
          <div>
            <label class="dropdown-item">
              <input
                type="radio"
                name="dropdown-option"
                value="JPG"
                checked
                [(ngModel)]="formato"
              />
              JPG
            </label>
            <label class="dropdown-item">
              <input
                type="radio"
                name="dropdown-option"
                value="PNG"
                [(ngModel)]="formato"
              />
              PNG
            </label>
            <label class="dropdown-item">
              <input
                type="radio"
                name="dropdown-option"
                value="WEBP"
                [(ngModel)]="formato"
              />
              WEBP
            </label>
          </div>
          <div class="wrapper">
            <input
              type="range"
              min="0"
              max="100"
              step="5"
              [(ngModel)]="calidad"
            />
          </div>
        </div>

        <hr />
        <button class="dropdown-toggle" (click)="downloadImage()">
          Download image
        </button>
      </div>
    </div>
    <div class="button-container">
      <div class="likes">
        <p>{{ likes }}</p>

        <div class="heart">
          <input
            type="checkbox"
            class="like"
            [id]="'heart2' + publication.id"
            hidden
            [checked]="publication.hasLiked == true"
            (change)="
              like(publication.id, publication.persona_dni, $event);
              triggerAnimation($event, publication.id)
            "
          />

          <label [for]="'heart2' + publication.id"
            ><i class="fa-solid fa-heart fa-xl"></i
          ></label>
        </div>
      </div>
      <div class="input-container">
        <input
          type="text"
          placeholder="Write a comment"
          [(ngModel)]="comentario"
        />
        <label (click)="comment(publication.id, publication.persona_dni)">
          <i class="fa-solid fa-paper-plane"></i>
        </label>
      </div>
    </div>

    <div class="comment-container">
      @for (comment of comments; track $index) {
      <div class="comment" (click)="link(comment)">
        <div class="comment-author">
          <img [src]="comment.foto_perfil" alt="Autor" />
        </div>
        <p class="comment-content">
          <span class="author-name">{{ comment.username }}</span>
          {{ comment.comentario }}
        </p>
      </div>
      }
    </div>
  </div>
  }
</dialog>
