@if (user) {
<nav>
  <img src="{{ fotoUrl }}" alt="" />
  <div>
    <h3>{{ user.username }}</h3>
    <p>{{ user.descp }}</p>

    <ul>
      <li>
        Photos: <b>{{ user.fotos }}</b>
      </li>
      <li>
        Friends: <b>{{ user.amigos }}</b>
      </li>
      @if (user. id_estadou == 0) {
      <li>User: <b>Public</b></li>

      }@else {
      <li>User: <b>Private</b></li>

      }
    </ul>
    <div class="container-button">
      @if (user.peticion == 1) {
      <button (click)="unfollow(user)">Requested</button>
      } @else if (user.es_amigo == 0) {
      <button (click)="follow(user)">Follow</button>
      } @else {
      <button (click)="unfollow(user)">Unfollow</button>
      }
    </div>
  </div>
</nav>

} @if (user) { @if (user.es_amigo == 1 || user.id_estadou==0) { @if
(publicaciones) {
<app-gallery [publicaciones]="publicaciones" [session]="false"></app-gallery>
} }@else {
<div class="private">
  <i class="fa-solid fa-lock fa-2xl"></i>
  <h2>This profile is private</h2>
  <p>Send a friend request to access this user's content.</p>
</div>
} }
<div #scrollAnchor></div>
