/* Estilos de la nav bar */

nav {
  background-color: #333;
  display: flex;
  padding: 1rem 0.5rem;
  width: 100%;
}

nav p {
  color: #B9B8B5;
  font-size: 0.9rem;
  margin: 0.4rem 0;
}

nav img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

form img {
  display: block;
  margin: 0 auto;
}

nav>div {
  color: #B9B8B5;
  padding-left: 2rem;
  width: 100%;
  max-width: 300px;
}

b {
  color: #D4AF37;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width:800px) {
  nav>div {
    padding-left: 0.5rem;
  }

  nav img {
    width: 60px !important;
    height: 60px !important;
  }

  nav ul {
    font-size: 0.8rem;
  }
}

.container-button {
  padding-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.container-button button,
.flex button {
  background-color: transparent;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  transition: color 0.5s ease;
  text-align: center;
  border: solid thin #B9B8B5;
  color: #B9B8B5;
}

.container-button button:hover,
.flex button:hover {
  border-color: #D4AF37;
  color: #D4AF37;
  cursor: pointer;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.private {
  height: 60vh;
  max-height: 400px;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 20px;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
  padding-top: 8rem;
}

.private i {
  font-size: 6rem;
  color: #d4af37;
  margin: 2rem;
  margin-top: 0;
}

.private h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.private p {
  font-size: 1rem;
  color: #666;
}

.input-container {
  margin: 20px auto;
  width: 60%;
  max-width: 550px;
  padding: 0.75rem 1.25rem;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #333;
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.input-container label {
  padding: 0.6rem;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  transition: transform 0.3s ease;
  background-color: #B9B8B5;
  color: #333;
}

.input-container input {
  font-size: 1.1rem;
  background: transparent;
  border: none;
  outline: none;
  color: #B9B8B5;
  width: 100%;
}

.input-container input::placeholder {
  color: #888;
  font-style: italic;
}


.input-container label:hover {
  color: #a18529;
  cursor: pointer;
}

.input-container label i {
  color: inherit;
}

.input-container::placeholder {
  font-style: italic;
}