@if (user) {
<nav>
  <img src="{{ fotoUrl }}" alt="" />
  <div>
    <h3>{{ user.username }}</h3>
    <p>{{ user.descp }}</p>

    <ul>
      <li>
        Photos: <b>{{ user.fotos }}</b>
      </li>
      <li>
        Friends: <b>{{ user.amigos }}</b>
      </li>
      @if (user.id_estadoU=== 0) {
      <li>User: <b>Public</b></li>

      }@else {
      <li>User: <b>Private</b></li>

      }
    </ul>
    <div class="container-button">
      @if (user.peticion === 1) {
      <button (click)="unfollow(user)">Requested</button>
      } @else if (user.es_amigo === 0) {
      <button (click)="follow(user)">Follow</button>
      } @else {
      <button (click)="unfollow(user)">Unfollow</button>
      }
    </div>
  </div>
</nav>
} @if (publicaciones) {

<app-gallery [publicaciones]="publicaciones" [session]="false"></app-gallery>
<div #scrollAnchor></div>
}
