.modal {
  top: 0;
  left: 0;
  position: absolute;
  margin: auto;
  width: fit-content;
  max-width: 90vw;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: inline-flex;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: #fff;
  padding: 0;
  opacity: 0;
  /* Inicialmente invisible */
  transform: scale(0.9);
  /* Inicialmente más pequeño */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Transición suave */
}

.modal:not([open]) {
  height: 0;
}

.modal[open] {
  height: 80vh;
  opacity: 1;
  /* Visible cuando está abierto */
  transform: scale(1);
  /* Tamaño normal */
}

.modal>img {
  max-width: 70%;
  height: 100%;
  object-fit: cover;
}

.modal>div {
  min-width: 400px;
  padding: 20px 20px;
  margin: 10px auto;
}

.modal h3 {
  text-align: center;
}

.modal div>p {
  margin: 10px 0;
}

.modal .button-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-right: 12px;
}

.dropdown-menu {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 0 0 20px;
  padding-right: 12px;
}

.dropdown-toggle {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #333;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #B9B8B5;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.dropdown-toggle:hover {
  background-color: #D4AF37;
  color: #333;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

dialog .dropdown-content {
  width: 90%;
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  background-color: white;
  min-width: 220px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 100;
}

.dropdown-menu.open .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}


.comment-container {
  overflow-y: auto;
  max-height: 58%;
  margin-top: 20px;
  padding-right: 12px;
}

/* Estilos personalizados para el scroll */
.comment-container::-webkit-scrollbar {
  width: 8px;
}

.comment-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.comment-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.comment-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.comment {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
}

.comment-author img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.comment-content {
  max-width: 80%;
  font-size: 14px;
  line-height: 1.5;
}

.comment-content .author-name {
  font-weight: bold;
  margin-right: 5px;
}

.likes {
  display: flex;
  gap: 5px;
  font-size: 14px;
  color: #333;
}

.likes p {
  font-size: 18px;
  color: #D4AF37;
}

@media screen and (max-width: 1000px) {
  .modal {
    margin: 12px auto;
    flex-direction: column;
    height: auto;
    max-width: 90%;
    max-height: 80%;
  }

  .modal>img {
    max-width: 100%;
    height: auto;
  }

  .modal>div {
    min-width: 100%;
    padding: 10px;
  }

  .modal .button-container {
    padding-right: 24px;
  }

  .dropdown-menu {
    padding-right: 24px;
  }

  .comment-container {
    padding-right: 24px;
  }


}


.wrapper {
  position: relative;
  height: 8rem;
  width: 3rem;
}

.wrapper::before,
.wrapper::after {
  display: block;
  position: absolute;
  z-index: 99;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.75rem 0;
  pointer-events: none;
}

.wrapper::before {
  content: "+";
}

.wrapper::after {
  content: "−";
  bottom: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #B9B8B5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 8rem;
  height: 3.5rem;
  transform: translate(-50%, -50%) rotate(-90deg);
  border-radius: 1rem;
  overflow: hidden;
  cursor: row-resize;
}

input[type="range"][step] {
  background-color: #B9B8B5;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);
}

input[type="range"]::-moz-range-thumb {
  border: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}