@if (user) {
<nav>
  <img src="{{ fotoUrl }}" alt="" />
  <div>
    <div class="flex">
      <h3>{{ user.username }}</h3>
      <button (click)="logout()">Log out</button>
    </div>
    <p>{{ user.descp }}</p>

    <ul>
      <li>
        Photos: <b>{{ user.fotos }}</b>
      </li>
      <li>
        Friends: <b>{{ user.amigos }}</b>
      </li>
      @if (user.id_estadoU=== 0) {
      <li>User: <b>Public</b></li>

      }@else {
      <li>User: <b>Private</b></li>

      }
    </ul>
    <div class="container-button">
      <button (click)="editProfile()">Edit profile</button>

      <button (click)="editPwd()">Edit password</button>
    </div>
  </div>
</nav>
} @if (publicaciones) {

<div class="gallery">
  @for (publi of publicaciones; track $index) {
  <div class="gallery-item" (click)="savePublication(publi)">
    <img [src]="publi.foto" alt="" />
    <div class="hover" (mouseleave)="clear()">
      <button class="delete" (click)="delete(publi.id, publi.public_id)">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button class="down" (click)="savePublication(publi)">
        <i class="fa-solid fa-down-long fa-xs"></i>Download
      </button>
      <div>
        <div class="heart">
          <input
            type="checkbox"
            class="like"
            [id]="'heart' + publi.id"
            hidden
            (change)="like(publi.id, $event)"
            [checked]="publi.hasLiked === 1"
          />

          <label [for]="'heart' + publi.id"
            ><i class="fa-solid fa-heart fa-xl"></i
          ></label>
        </div>
        <div class="input-container">
          <input
            type="text"
            placeholder="Write a comment"
            [(ngModel)]="comentario"
          />
          <label (click)="comment(publi.id)">
            <i class="fa-solid fa-paper-plane"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
  }
  <div #scrollAnchor class="scroll"></div>
</div>
} @if (user) {
<dialog #editProfileDialog (click)="closeOnOutsideClick($event)">
  <form
    class="form"
    [formGroup]="editProfileForm"
    (ngSubmit)="submitProfile($event)"
    enctype="multipart/form-data"
  >
    <h2>Edit your profile</h2>

    <div class="hover-img-container">
      <img src="{{ previewUrl }}" alt="" />
      <label for="img">
        <div class="hover-img">
          <i class="fa-solid fa-pen fa-lg"></i>
        </div>
      </label>
      <input
        type="file"
        id="img"
        name="img"
        (change)="onFileSelected($event)"
        accept="image/*"
        hidden
      />
    </div>

    <fieldset
      [class]="
        editProfileForm.get('username')?.errors &&
        editProfileForm.value.username !== ''
          ? 'red'
          : 'none'
      "
    >
      <legend>Username</legend>
      <input type="text" formControlName="username" autocomplete="username" />
    </fieldset>
    <fieldset
      [class]='(editProfileForm.get("descp")?.errors?.["minlength"] && editProfileForm.value.descp !=="") ? "red":"none"'
    >
      <legend>Description</legend>
      <input type="text" formControlName="descp" autocomplete="on" />
    </fieldset>

    <fieldset
      [class]='(editProfileForm.get("email")?.errors?.["email"] && editProfileForm.value.email !=="") ? "red":"none"'
    >
      <legend>Email</legend>
      <input
        type="email"
        formControlName="email"
        name="email"
        autocomplete="email"
      />
    </fieldset>
    <fieldset>
      <legend>Profile Visibility</legend>
      <div class="radio-container">
        <label>
          <input type="radio" formControlName="visibility" value="0" />
          Public
        </label>
        <label>
          <input type="radio" formControlName="visibility" value="1" />
          Private
        </label>
      </div>
    </fieldset>

    <div class="button-container">
      <button class="form-button" [disabled]="editProfileForm.invalid">
        Send
      </button>
      <div class="form-button" (click)="close()">Close</div>
    </div>
  </form>
</dialog>
<dialog #editPwdDialog (click)="closeOnOutsideClick($event)">
  <form
    class="form"
    [formGroup]="editPwdForm"
    (ngSubmit)="submitPwd($event)"
    enctype="multipart/form-data"
  >
    <h2>Edit your password</h2>

    <input type="text" autocomplete="username" hidden />

    <fieldset
      [class]='(editPwdForm.get("oldPwd")?.errors?.["minlength"] && editPwdForm.value.oldPwd !=="") ? "red":"none"'
    >
      <legend>Current password</legend>
      <input
        type="password"
        formControlName="oldPwd"
        autocomplete="new-password"
      />
    </fieldset>
    <fieldset
      [class]='(editPwdForm.get("newPwd")?.errors?.["minlength"] && editPwdForm.value.newPwd !=="") ? "red":"none"'
    >
      <legend>New password</legend>
      <input
        type="password"
        formControlName="newPwd"
        autocomplete="current-password"
      />
    </fieldset>

    <div class="button-container">
      <button class="form-button" [disabled]="editPwdForm.invalid">Send</button>
      <div class="form-button" (click)="close()">Close</div>
    </div>
  </form>
</dialog>
<dialog class="modal" #download (click)="closeOnOutsideClick($event)">
  @if (publication) {
  <img [src]="publication.foto" alt="" />
  <div>
    <h3>{{ publication.title }}</h3>
    <p>
      {{ publication.descp }}
    </p>

    <div class="dropdown-menu" [class.open]="dropdownOpen" #dropdownMenu>
      <button class="dropdown-toggle" (click)="toggleDropdown()">
        <i class="fa-solid fa-down-long fa-xs"></i>Download
      </button>
      <div class="dropdown-content">
        <div class="flex">
          <div>
            <label class="dropdown-item">
              <input
                type="radio"
                name="dropdown-option"
                value="JPG"
                checked
                [(ngModel)]="formato"
              />
              JPG
            </label>
            <label class="dropdown-item">
              <input
                type="radio"
                name="dropdown-option"
                value="PNG"
                [(ngModel)]="formato"
              />
              PNG
            </label>
            <label class="dropdown-item">
              <input
                type="radio"
                name="dropdown-option"
                value="WEBP"
                [(ngModel)]="formato"
              />
              WEBP
            </label>
          </div>
          <div class="wrapper">
            <input
              type="range"
              min="0"
              max="100"
              step="5"
              [(ngModel)]="calidad"
            />
          </div>
        </div>

        <hr />
        <button class="dropdown-toggle" (click)="downloadImage()">
          Download image
        </button>
      </div>
    </div>
    <div class="button-container">
      <div class="likes">
        <p>{{ likes }}</p>

        <div class="heart">
          <input
            type="checkbox"
            class="like"
            [id]="'heart' + publication.id"
            hidden
            (change)="like(publication.id, $event)"
            [checked]="publication.hasLiked === 1"
          />

          <label [for]="'heart' + publication.id"
            ><i class="fa-solid fa-heart fa-xl"></i
          ></label>
        </div>
      </div>
      <div class="input-container">
        <input
          type="text"
          placeholder="Write a comment"
          [(ngModel)]="comentario"
        />
        <label (click)="comment(publication.id)">
          <i class="fa-solid fa-paper-plane"></i>
        </label>
      </div>
    </div>

    <div class="comment-container">
      @for (comment of comments; track $index) {
      <div class="comment">
        <div class="comment-author">
          <img [src]="comment.foto_perfil" alt="Autor" />
        </div>
        <p class="comment-content">
          <span class="author-name">{{ comment.username }}</span>
          {{ comment.comentario }}
        </p>
      </div>
      }
    </div>
  </div>
  }
</dialog>

}
