@if (user) {
<nav>
  <img src="{{ fotoUrl }}" alt="" />
  <div>
    <div class="flex">
      <h3>{{ user.username }}</h3>
      <div class="margin">
        @if ( user. id_estadou === 1 && petitions ) { @if (petitions.length !==
        0) {
        <button (click)="showPet()">Show petitions</button>
        } }
        <button (click)="logout()">Log out</button>
      </div>
    </div>
    <p>{{ user.descp }}</p>

    <ul>
      <li>
        Photos: <b>{{ user.fotos }}</b>
      </li>
      <li (click)="showFriends()" style="cursor: pointer">
        Friends: <b>{{ user.amigos }}</b>
      </li>
      @if (user. id_estadou === 0) {
      <li>User: <b>Public</b></li>
      } @else {
      <li>User: <b>Private</b></li>
      }
    </ul>
    <div class="container-button">
      <button (click)="editProfile()">Edit profile</button>
      <button (click)="editPwd()">Edit password</button>
    </div>
  </div>
</nav>

} @if (publicaciones) {
<div class="input-container">
  <input
    type="text"
    placeholder="Search photos by title or description"
    [(ngModel)]="filterPublicaciones"
  />
  <label (click)="filterPublications()">
    <i class="fa-solid fa-magnifying-glass"></i>
  </label>
</div>
<app-gallery [publicaciones]="publicaciones" [session]="true"></app-gallery>
<div #scrollAnchor></div>
<div class="delete-container">
  <div class="delete" (click)="deleteUser()">
    <i class="fa-solid fa-user-slash"></i>
    <p>Delete Profile</p>
  </div>
</div>
} @if (user) {
<dialog #editProfileDialog (click)="closeOnOutsideClick($event)">
  <form
    class="form"
    [formGroup]="editProfileForm"
    (ngSubmit)="submitProfile($event)"
    enctype="multipart/form-data"
  >
    <h2>Edit your profile</h2>

    <div class="hover-img-container">
      <img src="{{ previewUrl }}" alt="" />
      <label for="img">
        <div class="hover-img">
          <i class="fa-solid fa-pen fa-lg"></i>
        </div>
      </label>
      <input
        type="file"
        id="img"
        name="img"
        (change)="onFileSelected($event)"
        accept="image/*"
        hidden
      />
    </div>

    <fieldset
      [class]="
        editProfileForm.get('username')?.errors &&
        editProfileForm.value.username !== ''
          ? 'red'
          : 'none'
      "
    >
      <legend>Username</legend>
      <input type="text" formControlName="username" autocomplete="username" />
    </fieldset>
    <fieldset
      [class]='(editProfileForm.get("descp")?.errors?.["minlength"] && editProfileForm.value.descp !=="") ? "red":"none"'
    >
      <legend>Description</legend>
      <input type="text" formControlName="descp" autocomplete="on" />
    </fieldset>

    <fieldset
      [class]='(editProfileForm.get("email")?.errors?.["email"] && editProfileForm.value.email !=="") ? "red":"none"'
    >
      <legend>Email</legend>
      <input
        type="email"
        formControlName="email"
        name="email"
        autocomplete="email"
      />
    </fieldset>
    <fieldset>
      <legend>Profile Visibility</legend>
      <div class="radio-container">
        <label>
          <input type="radio" formControlName="visibility" value="0" />
          Public
        </label>
        <label>
          <input type="radio" formControlName="visibility" value="1" />
          Private
        </label>
      </div>
    </fieldset>

    <div class="button-container">
      <button class="form-button" [disabled]="editProfileForm.invalid">
        Send
      </button>
      <div class="form-button" (click)="close()">Close</div>
    </div>
  </form>
</dialog>
<dialog #editPwdDialog (click)="closeOnOutsideClick($event)">
  <form
    class="form"
    [formGroup]="editPwdForm"
    (ngSubmit)="submitPwd($event)"
    enctype="multipart/form-data"
  >
    <h2>Edit your password</h2>

    <input type="text" autocomplete="username" hidden />

    <fieldset
      [class]='(editPwdForm.get("oldPwd")?.errors?.["minlength"] && editPwdForm.value.oldPwd !=="") ? "red":"none"'
    >
      <legend>Current password</legend>
      <input
        type="password"
        formControlName="oldPwd"
        autocomplete="new-password"
      />
    </fieldset>
    <fieldset
      [class]='(editPwdForm.get("newPwd")?.errors?.["minlength"] && editPwdForm.value.newPwd !=="") ? "red":"none"'
    >
      <legend>New password</legend>
      <input
        type="password"
        formControlName="newPwd"
        autocomplete="current-password"
      />
    </fieldset>

    <div class="button-container">
      <button class="form-button" [disabled]="editPwdForm.invalid">Send</button>
      <div class="form-button" (click)="close()">Close</div>
    </div>
  </form>
</dialog>
} @if (petitions) {
<dialog #showPetitions (click)="closeOnOutsideClick($event)" class="petitions">
  <div class="input-container">
    <input
      type="text"
      placeholder="Search a user"
      [(ngModel)]="usernameFilter"
      (input)="filter()"
    />
    <label>
      <i class="fa-solid fa-magnifying-glass"></i>
    </label>
  </div>
  <div class="user-container">
    @for (u of petitionsFiltered; track $index) {
    <div class="user">
      <div class="user-author" (click)="link(u)">
        <img [src]="u.foto_perfil || 'user.png'" alt="Autor" />
      </div>
      <p class="user-content" (click)="link(u)">
        <span class="author-name">{{ u.username }}</span>
        {{ u.descp || "no description" }}
      </p>
      <div class="button">
        <button (click)="allow(u)">Accept</button>
        <button (click)="reject(u)">Reject</button>
      </div>
    </div>
    }
  </div>
</dialog>
} @if (amigos) {

<dialog #showFriends (click)="closeOnOutsideClick($event)" class="petitions">
  <div class="input-container">
    <input
      type="text"
      placeholder="Search a user"
      [(ngModel)]="usernameFilter"
      (input)="filterPublications()"
    />
    <label>
      <i class="fa-solid fa-magnifying-glass"></i>
    </label>
  </div>
  <div class="user-container">
    @for (u of amigosFiltered; track $index) {
    <div class="user">
      <div class="user-author" [routerLink]="['/user', u.username]">
        <img [src]="u.foto_perfil || 'user.png'" alt="Autor" />
      </div>
      <p class="user-content" [routerLink]="['/user', u.username]">
        <span class="author-name">{{ u.username }}</span>
        {{ u.descp || "no description" }}
      </p>
      <div class="button">
        <button (click)="unfollow(u)">Unfollow</button>
      </div>
    </div>
    }
  </div>
</dialog>
}
