/* Estilos de la nav bar */

nav {
  background-color: #333;
  display: flex;
  padding: 1rem 0.5rem;
  width: 100%;
}

nav p {
  color: #B9B8B5;
  font-size: 0.9rem;
  margin: 0.4rem 0;
}

nav img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

form img {
  display: block;
  margin: 0 auto;
}

nav>div {
  color: #B9B8B5;
  padding-left: 2rem;
  width: 100%;
  max-width: 350px;
}

b {
  color: #D4AF37;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width:800px) {
  nav>div {
    padding-left: 0.5rem;
  }

  nav img {
    width: 60px !important;
    height: 60px !important;
  }

  nav ul {
    font-size: 0.8rem;
  }

  .margin button {
    font-size: 0.6rem !important;
  }
}

.container-button {
  padding-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-button button,
.flex div button {
  background-color: transparent;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  transition: color 0.5s ease;
  text-align: center;
  border: solid thin #B9B8B5;
  color: #B9B8B5;
}

.margin {
  display: flex;
  gap: 15px;
}



.container-button button:hover,
.flex button:hover {
  border-color: #D4AF37;
  color: #D4AF37;
  cursor: pointer;
}

/* Estilos modal */

dialog form {
  width: 100%;
}

dialog {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: none;
}

dialog[open] {
  opacity: 1;
  transform: scale(1);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hover-img-container {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.hover-img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
  display: none;

}

.hover-img i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #B9B8B5;
}


.hover-img-container img {
  object-fit: cover;
  width: 99px;
  height: 99px;
  border-radius: 50%;

}

.hover-img-container:hover .hover-img {
  display: block;
  background-color: #000c;
  cursor: pointer;
}

.radio-container {
  display: flex;
  justify-content: space-around;
}

.radio-container label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #b9b8b5;
  cursor: pointer;
}

.form label {
  margin: 0;
}

.radio-container input[type="radio"] {
  accent-color: #d4af37;
  transform: scale(1.2);
}




.petitions {
  width: 90%;
  max-width: 800px;
  background-color: #fff;
}


.user-container {
  margin: 0 auto;
  max-width: 550px;
  overflow-y: auto;
  max-height: 58%;
  margin-top: 20px;
}

.user {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
}

.user-author img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.user-content {
  cursor: pointer;
  max-width: 40%;
  font-size: 12px;
  line-height: 1.5;
}

.user-content .author-name {
  font-weight: bold;
  margin-right: 5px;
}

.user-container .button {
  position: absolute;
  right: 3%;
  display: flex;
  gap: 10px;
}

.user-container button {

  background-color: transparent;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  transition: color 0.5s ease;
  text-align: center;
  border: solid thin #333;
  color: #333;
}

.user-container button:hover {
  border-color: #D4AF37;
  color: #D4AF37;
  cursor: pointer;
}



.input-container {
  margin: 20px auto;
  max-width: 550px;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.input-container label {
  background-color: #333;
  padding: 0.6rem;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  transition: transform 0.3s ease;
}

.input-container input {
  font-size: 1.1rem;
  background: transparent;
  border: none;
  outline: none;
  color: #B9B8B5;
  width: 100%;
}

.input-container input::placeholder {
  color: #888;
  font-style: italic;
}

.input-container label {
  background-color: #B9B8B5;
  color: #333;
}

.input-container label:hover {
  color: #a18529;
  cursor: pointer;
}

.input-container label i {
  color: inherit;
}

.input-container::placeholder {
  font-style: italic;
}