<div class="form-container">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="enviar()"
    enctype="multipart/form-data"
  >
    <h2>Log in Image HUB</h2>
    <fieldset
      [class]="
        form.get('username')?.errors && form.value.username !== ''
          ? 'red'
          : 'none'
      "
    >
      <legend>Username</legend>
      <input type="text" formControlName="username" autocomplete="username" />
    </fieldset>
    <fieldset
      [class]='(form.get("pwd")?.errors?.["minlength"] && form.value.pwd !=="") ? "red":"none"'
    >
      <legend>Password</legend>
      <input
        type="password"
        formControlName="pwd"
        autocomplete="current-password"
      />
    </fieldset>

    <div class="button-container">
      <button class="form-button" [disabled]="form.invalid">Send</button>
      <input type="reset" value="Reset" class="form-button" />
    </div>
    <a routerLink="/signin">You don't have an account already? Sign in here</a>
  </form>
</div>
