<div class="container">
  <section class="image" style="background-image: url('1.jpg')"></section>
  <section class="heading">
    <h2>Image HUB</h2>
  </section>
  <section class="text">
    <h3>
      The image cloud where you can see the photos of your friends, now with
      optimized and compressed images!
    </h3>
  </section>
  <section
    class="image"
    style="background-image: url('2.jpg'); background-position: center"
  ></section>
</div>
@if (publicaciones) {

<app-gallery [publicaciones]="publicaciones" [session]="false"></app-gallery>
<div #scrollAnchor></div>
}
