<div class="container">
  <section class="image one"></section>
  <section class="heading">
    <h2>Image HUB</h2>
  </section>
  <section class="text">
    <h3>
      The image cloud where you can see the photos of your friends, now with
      optimized and compressed images!
    </h3>
  </section>
  <section class="image two"></section>
</div>
@if (publicaciones) {
<div class="input-container">
  <input
    type="text"
    placeholder="Search photos by title or description"
    [(ngModel)]="filterPublicaciones"
  />
  <label (click)="filter()">
    <i class="fa-solid fa-magnifying-glass"></i>
  </label>
</div>
<app-gallery [publicaciones]="publicaciones" [session]="false"></app-gallery>
<div #scrollAnchor></div>
}
