main {
  display: flex;
}


.filters-container {
  width: 30%;
  max-width: 300px;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #B9B8B5;
  min-height: calc(100vh - 120px);
  height: auto;
  padding: 20px;
  color: #333;
}

.filters label {
  font-size: 14px;
  font-weight: bold;
  color: #D4AF37;
}

.filters input,
.filters select,
.filters button {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #B9B8B5;
  border-radius: 3px;
  background-color: transparent;
  color: #333;
  accent-color: #D4AF37;
}





@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .filters-container {
    width: 100%;
    border-bottom: 1px solid #B9B8B5;
    max-width: none;
  }

  .filters {
    width: 70%;
    margin: auto;
    max-width: none;
    min-height: 0px;
    border: none;
  }

  .notification-container {

    width: 100% !important;

  }

  .notification-container .notification img {
    width: 40px;
    height: 40px;

  }

}




.notification-container {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  max-height: 58%;
  margin-top: 20px;
}

.notification {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  border: 2px solid #D4AF37;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notification:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.notification img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.notification img:hover {
  cursor: pointer;
}

.notification-content {
  cursor: pointer;
  max-width: 50%;
  font-size: 14px;
  line-height: 1.5;
  cursor: text;
}

.notification-content .author-name {
  font-weight: bold;
  margin-right: 5px;
}

.notification .publication {
  position: absolute;
  right: 12px;
  border-radius: 8px;
}

.notification .publication:hover {
  cursor: default;
}

.notification.read {
  background-color: #f5f5f5;
  border-color: #B9B8B5;
}

.notification.read:hover {
  transform: none;
  box-shadow: none;
  cursor: default;
}